[submodule "norminette"]
	path = norminette
	url = https://github.com/42School/norminette.git
[submodule "libft-war-machine"]
	path = libft-war-machine
	url = https://github.com/y3ll0w42/libft-war-machine.git
